.contact {
    border-top: .1rem solid $color-white;
    &-inner {
        max-width: 124rem;
        margin: 0 auto;

        p {
            -webkit-text-stroke: .1rem  $color-white;
            font-size: 9rem;
            text-transform: uppercase;
            @include transition(opacity 0.5s ease, transform 0.5s ease);
        }
    }
    &-lf {
        padding: 0 0 2rem 0;
        box-sizing: border-box;
        transform: rotate(90deg);
        transform-origin:left;
    }
    &-rt {
        text-align: end;
        transform: rotate(-90deg);
        transform-origin: right;
    }
}