.main {
    @include mq('480') {
        padding: 10rem 2rem 7rem 2rem;
    }

    &-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 124rem;
        margin: 0 auto;
        padding: 4rem 0 0 0;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 2;
        @include transition(padding .2s ease);

        @include mq('980') {
           max-width: none;
           width: 100%;
        }
        @include mq('600') {
            padding: 2rem 0 0 0;
        }
        @include mq('480') {
            padding: 1rem 0 0 0;
        }
        
        .main-img {
            position: relative;
            max-width: 35rem;
            border-radius: 2rem;
            opacity: 0;
            @include transition(opacity .5s ease, max-width .2s ease);

            @include mq('980') {
                max-width: 30rem;
            }
            @include mq('480') {
                max-width: 25rem;
            }
            @include mq('320') {
                max-width: 20rem;
            }
        }
    }

    &-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0 0 0;

        h2 {
            margin: 0 0 3rem 0;
            text-align: center;
            font-size: 3rem;
            word-break: keep-all;

            @include mq('980') {
                font-size: 2.5rem;
            }
            @include mq('767') {
                font-size: 2rem;
            }
            @include mq('600') {
                font-size: 1.8rem;
            }
            @include mq('480') {
                font-size: 1.4rem;
            }
        }
        strong {
                text-decoration: underline;
            }
         }

         &-p {
            width: 50%;
            line-height: 2.8rem;
            font : {
                size: 2rem;
                weight: 100;
            }
            @include transition(width .2s ease, font-size .2s ease);

            @include mq('980') {
                line-height: 2.5rem;
                width: 80%;
                font-size: 1.8rem;
            }
            @include mq('767') {
                line-height: 2.2rem;
                font-size: 1.6rem;
            }
            @include mq('600') {
                line-height: 1.9rem;
                width: 90%;
                font-size: 1.3rem;
            }
            @include mq('480') {
                line-height: 1.5rem;
                width: 100%;
                font-size: 1.1rem;
            }
         }
         
    .deco-line {
        @include position-ab();
        display: block;
        width: 100%;
        height: 8rem;
        background: url(../img/deco-line-img-2.png) center center repeat-x;
        background-size: cover;
        animation: banner 20s infinite linear alternate-reverse;
        overflow: hidden;
        z-index: 1;
        @include transition(height .2s ease,top .2s ease);

        @include mq('600') {
            height: 5rem;
        }
        @include mq('480') {
            top: 40%;
        }
        @include mq('320') {
            top: 38%;
        }
    }
}
.animated {
    opacity: 0;
    transform: translateY(20%);
    @include transition(opacity .5s ease,transform .5s ease);
}
.move {
    animation: smile 1s ease-in-out infinite alternate;
}