.profile {
    border-top: none;

    @include mq('767') {
        padding: 5rem 2rem 10rem 2rem;
     }

    &-inner {
        display: flex;
        justify-content: center;
        max-width: 124rem;
        height: 100%;
        margin: 0 auto;

        @include mq('980') {
            max-width: none;
            width: 100%;
         }
         @include mq('767') {
            flex-direction: column;
            @include transition(flex-direction .2s ease);
         }

        > div {
            width: 50%;

            @include mq('767') {
                width: 100%;
             }
        }
    }
    &-card {
        margin: 0 auto;
        perspective: 1000px;
        position: relative;
        width: 40rem;
        height: 50rem;
        transform-style: preserve-3d;
        transform: rotate(-5deg);
        @include transition(transform 0.5s ease, background 0.5s ease, width .2s ease, height .2s ease);

        @include mq('1200') {
            width: 32rem;
            height: 42rem;
         }
         @include mq('980') {
            width: 22rem;
            height: 32rem;
         }
         @include mq('767') {
            width: 30rem;
            height: 40rem;
         }
         @include mq('600') {
            width: 25rem;
            height: 35rem;
        }
        @include mq('480') {
            width: 22rem;
            height: 32rem;
        }
        @include mq('320') {
            width: 18rem;
            height: 28rem;
        }
        
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 1rem;
        }
        
        &-front {
            background: url(../img/profile-img-1.png) center center no-repeat;
            background-size: cover;
            border: .2rem solid $color-primary;
        }
        
        &-back {
            background: url(../img/profile-img-2.png) center center no-repeat;
            background-size: cover;
            transform: rotateY(180deg);
        }
    }
    &-txt {
        height: 100%;

        ul {
            @include mq('767') {
               padding: 5rem 3rem 0 3rem;
               box-sizing: border-box;
               @include transition(padding .2s ease);
            }
            @include mq('480') {
                padding: 5rem 0rem 0 0rem;
            }
            li {
                color: transparent;
                font-size: 7.5rem;
                -webkit-text-stroke: .1rem $color-white;
                white-space: nowrap;
                @include transition(font-size .2s ease);

                @include mq('1200') {
                    font-size: 6rem;
                 }
                 @include mq('980') {
                    font-size: 5rem;
                 }
                 @include mq('600') {
                    font-size: 4rem;
                }
                @include mq('480') {
                    position: relative;
                    color: $color-white;
                    font-size: 3rem;

                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        height: .1rem;
                        background-color: $color-white;
                    }
                }
            }
        }
        span {
            display: block;
            height: .2rem;
            background-color: $color-white;
            @include transition(width 0.5s ease);
        }
        p {
            width: 100%;
            padding: 5rem 0 0 0;
            font : {
                size: 1.8rem;
                weight: 100;
            }
            word-break: keep-all;
            strong{
                color: $color-primary;
            }
            @include mq('980') {
                padding: 3rem 0 0 0;
            }
            @include mq('767') {
                width: 90%;
                padding: 5rem 0 0 0;
                margin: 0 auto;
                font-size: 1.6rem;
                text-align: center;
            }
            @include mq('600') {
                font-size: 1.3rem;
            }
            @include mq('480') {
                width: 100%;
                font-size: 1.2rem;
            }
        }
    }
}
.flip {
    transform: rotateY(180deg) rotate(-5deg);
}
