.profile {
    border-top: none;

    &-inner {
        display: flex;
        justify-content: center;
        max-width: 124rem;
        height: 100%;
        margin: 0 auto;

        @include mq('980') {
            max-width: none;
            width: 100%;
         }

        > div {
            width: 50%;
        }
    }
    &-left {
    }
    &-card {
        margin: 0 auto;
        perspective: 1000px;
        position: relative;
        width: 40rem;
        height: 50rem;
        transform-style: preserve-3d;
        transform: rotate(-5deg);
        @include transition(transform 0.5s ease, background 0.5s ease, width .2s ease, height .2s ease);

        @include mq('1200') {
            width: 32rem;
            height: 42rem;
         }
         @include mq('980') {
            width: 22rem;
            height: 32rem;
         }
        
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 1rem;
        }
        
        &-front {
            background: url(../img/profile-img-1.png) center center no-repeat;
            background-size: cover;
            border: .2rem solid $color-primary;
        }
        
        &-back {
            background: url(../img/profile-img-2.png) center center no-repeat;
            background-size: cover;
            transform: rotateY(180deg);
        }
    }
    &-txt {
        height: 100%;

        ul {
            margin: 0 0 5rem 0;

            li {
                color: transparent;
                font-size: 7.5rem;
                -webkit-text-stroke: .1rem $color-white;
                white-space: nowrap;
                @include transition(font-size .2s ease);

                @include mq('1200') {
                    font-size: 6rem;
                 }
                 @include mq('980') {
                    font-size: 5rem;
                 }
            }
        }
        span {
            display: block;
            height: .2rem;
            background-color: $color-white;
            @include transition(width 0.5s ease);
        }
        p {
            width: 90%;
            padding: 5rem 0 0 0;
            font : {
                size: 2rem;
                weight: 100;
            }
            
            strong{
                color: $color-primary;
            }

            @include mq('980') {
              padding: 3rem 0 0 0;
              font-size: 1.8rem;
             }
        }
    }
}
.flip {
    transform: rotateY(180deg) rotate(-5deg);
}
