.skills {
    padding: 10rem 0;
    box-sizing: border-box;
    color: $color-white;
    border: 1px solid red;

    &-inner {
        max-width: 124rem;
        margin: 0 auto;
        text-align: center;
        border: 1px solid red;

        h2 {
            display: inline-block;
            margin: 0 0 5rem 0;
            font-size: 4rem;

        }
    }
    
    &-contents {
        display: flex;
        justify-content: center;
        gap: 5rem;
        padding: 3rem 0;
        margin: 0 auto;
        box-sizing: border-box;

        li {
            span {
                position: relative;
                width: 100%;
                height: 20rem;
                border-radius: 1rem;
                border: .2rem solid #00E700;

                &::after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    background-color: #063AA3;
                }
            }

            P {
                line-height: 3rem;
                width: 9rem;
                height: 3rem;
                color: #00E700;
                font-size: 1.6rem;
            }
        }
    }

    &-tool {
        margin: 10rem 0 0 0;

        h3 {
            font-size: 3.5rem;
            text-align: center;

            span {
                animation: smile 1s ease-in-out infinite alternate;
            }
        }
        ul {
            display: flex;
            justify-content: center;
            column-gap: 3rem;
            padding: 5rem 0;

            li {
                position: relative;
                width: 10rem;
                height: 10rem;
                border-radius: 30%;
                background-color: #eeeeee;

                &:hover {
                    animation: move .3s ease-in-out infinite alternate;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.txt-hide {
    @include text-hide();
}