.work {
    padding: 10rem 2rem;
    box-sizing: border-box;
    border-top : .1rem solid $color-white;

    &-inner {
        max-width: 124rem;
        margin: 0 auto;

        h2 {
            display: block;
            text-align: center;

            @include mq('767') {
                font-size: 3rem;
                @include transition(font-size .2s ease);
            }
            @include mq('600') {
                font-size: 2.5rem;
            }
            @include mq('480') {
                font-size: 1.8rem;
            }

            span {
                animation: upDown 1s ease-in alternate-reverse infinite;
            }
        }
    }

    &-tab {
        position: relative;
        display: flex;
        height: 90rem;

        @include mq('767') {
            height: 167rem;
            @include transition(height .2s ease);
        }
    }
    &-list {
        color: $color-black;
    }
    &-title {
        line-height: 5rem;
        width: 11rem;
        margin: 0 0 0 1rem;
        border : {
            top-left-radius: 1rem;
            top-right-radius: 1rem;
        }
        color: $color-primary;
        font-size: 1.6rem;
        text-transform: uppercase;

        @include mq('980'){
            font-size: 1.5rem;
            @include transition(font-size .2s ease, width .2s ease, margin .2s ease,line-height .2s ease);
        }
        @include mq('767') {
            line-height: 4em;
            width: 8.5rem;
            font-size: 1.3rem;
        }
        @include mq('600') {
            line-height: 3em;
            width: 8.5rem;
        }
        @include mq('480') {
            line-height: 2.8em;
            width: 5rem;
            margin: 0 0 0 .8rem;
            font-size: 1rem;
        }
    }
    &-contents {
        display: none;
        position: absolute;
        left: 0;
        top: 5rem;
        width: 100%;
        padding: 3rem;
        box-sizing: border-box;
        border-radius: 1rem;
        background-color: $color-white;

        @include mq('980') {
            padding: 2rem;
            @include transition(padding .2s ease);
        }
        @include mq('767') {
            top: 4.5rem;
        }
        @include mq('600') {
            top: 3.5rem;
        }
        @include mq('480') { 
            top: 2.8rem;
            padding: .8rem;
        }
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            @include mq('767') {
                grid-template-columns: repeat(1, 1fr);
                gap: 0rem;
                row-gap: 2rem;
                @include transition(gap .2s ease);
            }

            li {
                position: relative;
                width: 100%;
                height: 380px;
                border-radius: 1rem;
                box-shadow: 0 0 .5rem 0 #00000058;
                overflow: hidden;

                &:hover {
                    .work-contents-explain {
                        display: block;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    object-fit: cover;

                    &:nth-of-type(1){
                        display: block;

                        @include mq('480') {
                           display: none;
                        }
                    }
                    &:nth-of-type(2){
                        display: none;

                        @include mq('480') {
                            display: block;
                        }
                    }
                }
            }
        }
        &-explain {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 1rem;
            box-sizing: border-box;
            border-radius: 1rem;
            background-color: #fff;

            &-inner {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
            }

            h4 {
                padding: 0 0 .8rem 0;
                margin: 0 0 2rem 0;
                border-bottom: .1rem solid #444444;
                font : {
                    size: 1.8rem;
                    weight: 500;
                }
                text-align: center;

                @include mq('600') {
                    font-size: 1.6rem;
                    @include transition(font-size .2s ease);
                }

                span {
                    @include mq('600') {
                        font-size: 1.3rem;
                        @include transition(font-size .2s ease);
                    }
                    @include mq('480') {
                        font-size: 1.2rem;
                    }
                }
                .sidmool {
                    color:#92c501;
                }
                .koreanAir {
                    color: #0064de;
                }
                .work-contents-profile {
                    color: rgb(255, 119, 0);
                }
                .muvic {
                    color: #ff0558;
                }
                .chopard {
                    color: #d9b588;
                }
                .skSignet {
                    color: #FF8433;
                }
                .TodoList {
                    color: #73B5C1;
                }
                .RandomNumber {
                    color: red;
                }
            }
            dl {
                display: flex;
                align-items: center;

                dt {
                    width: 7rem;
                    padding: .5rem 0;
                    margin: 0 2rem 0 0;
                    border-radius: 1rem;
                    font-size: 1.4rem;
                    text-align: center;
                    background-color: #eeeeee;

                    @include mq('600') {
                        width: 5rem;
                        @include transition(width .2s ease, font-size .2s ease, margin .2s ease);
                    }
                    @include mq('480') {
                        width: 4rem;
                        margin: 0 .5rem 0 0;
                        font-size: 1.1rem;
                    }
                }
                dd {
                    display: flex;
                    padding: 0 1rem 0 0;
                    font-size: 1.4rem;

                    @include mq('600') {
                        font-size: 1.3rem;
                        @include transition(font-size .2s ease);
                    }
                    @include mq('480') {
                        font-size: 1.2rem;
                    }

                    a {
                        color: $color-sub;
                        text-decoration: underline;
                    }
                }
            }
            p {
                padding: 1.5rem 0;
                box-sizing: border-box;
                font-size: 1.4rem;

                @include mq('600') {
                    font-size: 1.3rem;
                    @include transition(font-size .2s ease);
                }
                @include mq('480') {
                    font-size: 1.1rem;
                }
            }

            &-btn {
                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
                .wireframe {
                    margin: 0 1rem 0 0;
                }

                a {
                    position: relative;
                    float: right;
                    padding: .5rem 1.5rem;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    font-size: 1.6rem;
                    box-shadow: 0 0 .7rem 0 #00000018;

                    @include mq('600') {
                        padding: .5rem 1rem;
                        @include transition(font-size .2s ease,padding .2s ease);
                    }
                    @include mq('480') {
                        font-size: 1.3rem;
                    }

                    &:hover {
                        animation: upDown .5s ease-in alternate-reverse infinite;
                    }
                }
            }
        }
    }
}
.no-img {
    &:hover {
        img {
            filter: grayscale(0%);
        }
    }
    img {
        filter: grayscale(100%);
        @include transition(filter .5s ease);
    }
}
// classList
.block {
    display: block;
}
.focus {
    color: $color-black;
    background-color: $color-white;
}