.work {
    padding: 10rem 0;
    box-sizing: border-box;
    border-top : .1rem solid $color-white;

    &-inner {
        max-width: 124rem;
        margin: 0 auto;

        h2 {
            display: block;
            text-align: center;
        }
    }

    &-tab {
        position: relative;
        display: flex;
        color: #fff;
        height: 55rem;
        font-size: 2rem;
    }
    &-list {

    }
    &-title {
        line-height: 5rem;
        width: 10rem;
        height: 5rem;
        border : {
            top: .1rem solid $color-primary;
            left: .1rem solid $color-primary;
            right: .1rem solid $color-primary;
            bottom: .1rem solid $color-primary;
        }
        text-align: center;
    }
    &-contents {
        display: none;
        position: absolute;
        left: 0;
        top: 5rem;
        width: 100%;
        padding: 3rem;
        box-sizing: border-box;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: $color-white;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;

            li {
                width: 100%;
                height: 380px;
                border-radius: 2rem;
                box-shadow: 0 0 .5rem 0 #00000058;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2rem;
                }
            }
        }
    }
}

// classList
.block {
    display: block;
}
.focus {
    color: $color-primary;
    background-color: $color-white;
    border-bottom: transparent !important;
}