html {
    font : {
        size: 10px;
        family: 'Pretendard-Regular';
    }
    scroll-behavior: smooth;
}
body {
    background-color: #1c1c1b;
    overflow-x: hidden;
    cursor: none;
}
*{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: none;
}
button {
    cursor: none;
}
em {
    font-style: normal;
}
span {
    display: inline-block;
}
dt {
    font-size: 2rem;
}
dd {
    color: #666666;
    font-size: 1.8rem;
}
.title {
    display: inline-block;
    margin: 0 0 5rem 0;
    font-size: 4rem;
    color: $color-white;
}
.mouse {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background-color: #00E700;
    border-radius: 50%;
    pointer-events: none;
    transition: transform .2s ease-in,
                opacity .2s ease-in, 
                background-color .2s ease-in;
    z-index: 9999;
    mix-blend-mode:difference;
}
.mouse-change {
    transform: scale(10);
    background: url(../img/mouse.png)center center no-repeat;
    background-size: cover;
    background-color: none;
}
::-webkit-scrollbar {
    width: 1rem;
    background-color: #1c1c1b;
}
::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: #00E700;
}
