@mixin position-ab(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin text-hide(){
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);  
    white-space: nowrap;  
    border: 0;
}

@mixin transition($transition...) {
    transition: $transition;
    -webkit-transition: $transition;  
    -moz-transition: $transition;     
    -o-transition: $transition;       
}

/* media */
@mixin mq($screen-width) {
    @if $screen-width == "1200" {
        /* desktop */
        @media screen and (max-width:1200px){ 
            @content;
        }
    }    
    @else if $screen-width == "980" {
        /* tablet */
        @media screen and (max-width:980px){
            @content;
        }
    }
    @else if $screen-width == "767" {
        /* mobile */
        @media screen and (max-width:767px){
            @content;
        }
    }
    @else if $screen-width == "600" {
        /* mobile */
        @media screen and (max-width:600px){
            @content;
        }
    }
    @else if $screen-width == "480" {
        /* mobile */
        @media screen and (max-width:480px){
            @content;
        }
    }
    @else if $screen-width == "320" {
        @media screen and (max-width:320px){
            @content;
        }
    }
}
